<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>main page</title>
</head>
<body>
    <header>
        
    </header>
    <main>
        <div class="login-container">
            <h2 style="margin-bottom: 2em;">Добро пожаловать!</h2>
            <div class="choice">
                <button onclick="login()">Войти</button>
                или
                <button onclick="register()">Зарегистрироваться</button>
            </div>
        </div>
    </main>
</body>
<script>
    const login = function() {
        window.location.href = '/login';
    }
    const register = function() {
        window.location.href = '/register';
    }
</script>
</html>