<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Вход</title>
</head>
<body>
  <div class="login-container">
    <form id="loginForm" method="POST" action="/login">
      <h2>Вход</h2>
      <label for="username">E-mail</label>
      <input id="email" type="text" name="username" placeholder="E-mail" required>
      <div id="emailError"></div>
      <label for="password">Пароль</label>
      <input id="password" type="password" name="password" placeholder="Пароль" required>
      <div id="passwordError"></div>
      <div class="actions">
        <button type="submit">Войти</button>
        <a href="/register">Зарегистрироваться</a>
      </div>
    </form>
  </div>
  <div class="tomainpage">
    <button id="tomainpage" onclick="main()">на главную страницу</button>
  </div>
</body>
<script>
    const main = function() {
      window.location.href = '/';
    }
</script>
</html>
